.main {
    display: flex;
    justify-content: center;

    .game-screen {
        display: flex;
        background-color: red;

        .next-piece-class {
            border: solid 2px;
            margin: 25px;
            background-color: white;
        }
    
        .game-board-class {
            border: solid 2px;
            margin: 25px;
            background-color: white;
        }

        .info-div {
            margin: 25px;
            align-content: center;
        }
    }
}